{% extends 'base/expense_manager.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-content">
            <h3 class="center">Add Expense</h3>
            <p class="center">Fill the necessary details</p><br>
            <form action="#" method="post">
                <div class="row">
                    <div class="input-field">
                        <i class="material-icons prefix">add_to_photos</i>
                        <input id="expense_name" name="expense_name" type="text" class="validate">
                        <label for="expense_name">Expense Name</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">attach_money</i>
                        <input id="expense_cost" name="expense_cost" type="number" class="validate">
                        <label for="expense_cost">Expense Cost</label>
                    </div>
                    <div class="input-field">
                        <center><button type="submit" class="btn waves-effect waves-light blue center" name="action">Add Expense
                            <i class="material-icons right">add</i>
                        </button></center>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}